{% block footer %}
    <div class="footer bg-bleuFoncé text-grisBg text-6xl w-[98.9vw] h-[30vh] flex justify-center items-center tracking-widest">
        <p>STARTUP PROJECT®</p>
    </div>
{% endblock %}