<style>
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a{
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    font-weight: 500;
}

.logo{
    font-size: 1.5rem;
    font-weight: 700;
    color: #2B5AA0; 
}

.btn{
    background-color: #2B5AA0;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 500;
    transition: all 0.3s ease;
}
</style>
<nav>
    <div>
        <a class="logo" href="{{ path ('app_app') }}">Startup</a>
    </div>
    <div>
        <ul>
            <li><a href="{{ path ('app_app') }}">Home</a></li>
            <li><a href="">Community</a></li>
        {% if app.user %}
            <li><a href="#">Profile</a></li>
            <li><a href="{{ path ('app_logout') }}">Logout</a></li>
        {% else %}
        <li><a class="btn" href="{{ path ('app_login') }}">Login</a></li>
        {% endif %}
         </ul>
    </div>
</nav>