html{
    overflow-x: hidden;
}
h2{
    color: #234983;
    font-size: 48px !important;
}
h3{
    color: #627EA9;
    font-size: 28px !important;
}
.dropdown-content{
    display: block;
    padding: 8px 16px;
    color: #627EA9;
    cursor: pointer;
    border-right: 50px;
}

.feedNav a:hover{
    font-weight: bold;
    text-decoration: #234983 solid 2px;
    transition: ease-in 200ms;
}