h2{
    color: #234983;
    font-size: 48px !important;
}
h3{
    color: #627EA9;
    font-size: 28px !important;
}
.dropdown-content{
    display: block;
    padding: 8px 16px;
    color: #627EA9;
    cursor: pointer;
}
.dropdown-content:hover{
    background-color: #F4F4F4;
}